@model List<VehicleManagementSystem.src.Models.USERMODEL>

<div class="page-header">
    <h2>Customers</h2>
    <a asp-action="Create" class="link-button">+ ADD NEW CUSTOMER</a>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var customer in Model)
            {
                <tr>
                    <td>@customer.fname @customer.lname</td>
                    <td>@customer.email</td>
                    <td>@customer.phonenumber</td>
                    <td>@customer.age</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@customer.userid">Edit Customer</a>
                        <a asp-action="Delete" asp-route-id="@customer.userid">Delete Customer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
