@model List<VehicleManagementSystem.src.Models.USERMODEL>

<div>
    <h2>Customers</h2>
    <a asp-action="Create">+ ADD NEW CUSTOMER</a>
</div>

<div>
    <div>
        <table>
            <thead>
                <tr>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Age</th>
                        <th>Actions</th>
                    </tr>
                </tr>
            </thead>

            <tbody>
                @foreach(var customer in Model)
                {
                    <tr>
                        <td>@customer.fname @customer.lname</td>
                        <td>@customer.email</td>
                        <td>@customer.phonenumber</td>
                        <td>@customer.age</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@customer.userid">Edit Customer</a>
                            <a asp-action="Delete" asp-route-id="@customer.userid">Delete Customer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
