@using VehicleManagementSystem.Helpers;
@model List<VehicleManagementSystem.src.Models.VEHICLEMODEL>;

<div class="page-header">
    <h2>Vehicles</h2>
    <a asp-action="Create" class="link-button">+ ADD NEW VEHICLE</a>
</div>

<div class="vehicle-grid">
    @foreach(var vehicle in Model)
    {
        <div class="vehicle-card" style="background-image: url('@ImageValidationHelper.GetVehicleImage(vehicle.imagelinkplaintext)')"">
            <div class="vehicle-overlay">
                <p><strong>Vehicle:</strong> @vehicle.make @vehicle.model</p>
                <p><strong>Plate #:</strong> @vehicle.licenseplate</p>
                <p><strong>Price/day:</strong> $@vehicle.price/day</p>
            </div>

            <div class="vehicle-actions">
                <a asp-action="Edit" asp-route-id="@vehicle.vehicleid" class="vehicle-action-btn">Edit</a>
                <a asp-action="Delete" asp-route-id="@vehicle.vehicleid" class="vehicle-action-btn">Delete</a>
            </div>
        </div>
    }
</div>
