@model List<VehicleManagementSystem.src.Models.VEHICLEMODEL>

<div>
    <h2>Vehicles</h2>
    <a asp-action="Create">+ ADD NEW VEHICLE</a>
</div>

<div>
    @foreach(var vehicle in Model)
    {
        <div style="background-image: url('@(vehicle.imagelinkplaintext ?? "/[PLACEHOLDER IMAGE LOCATION]")')">
            <div>
                <h3>@vehicle.make @vehicle.model</h3>
                <p>@vehicle.licenseplate</p>
                <p>@vehicle.price</p>
            </div>

            <div>
                <a asp-action="Edit" asp-route-id="@vehicle.vehicleid">Edit</a>
                <a asp-action="Delete" asp-route-id="@vehicle.vehicleid">Delete</a>
            </div>
        </div>
    }
</div>
